@font-face {
  font-family: T-rex;
  src: url('T-rex.ttf');
}

*{
  font-family: T-rex;
  /*border: 1px solid black;*/
}

body{
  background: url("coverture.png")
}

#content{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

label{
  font-weight: 900;
}

#subRightPart{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#login-form{
  padding: 20px 20px 20px 300px;
  font-size: 32px;
  border-radius: 10px;
}

#pseudo {
  position: relative;
  top: 50%;
  left: 10px;
  transform: translate(0, -10%);
}

#form-submit{
  position: relative;
  top: 50%;
  left: 10px;
  transform: translate(0, -10%);
}

#game {
  width: 1000px;
  height: 450px;
  border: 1px solid black;
  margin: auto 10px 20px auto ;
  position: relative;
  border-radius: 10px;
}

#dino {
  width: 80px;
  height: 50px;
  background-image: url(dino.gif);
  background-size: 80px 50px;
  position: absolute;
  left: 20px;
}

#score-game{
  font-size: 32px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

#play-button{
  border: none;
  width: 50px;
  height: 50px;
  background: url("icons8-play-button-circled-50.png") 50px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#score{
  font-size: 32px;
  position: absolute;
  top: 10px;
  left: 50%;
}

.cactus {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -25px;
  margin: 0;
  background-image: url("asteroid.png");
  background-size: 50px 50px;
}

@keyframes block {
  0% {
    left: 950px;
  }
  100% {
    left: -50px;
  }
}



#subLeftPart{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
  margin: 0 0 0 30px;
  font-size: 4em;
  background-color: white;
  display: inline-block;
}

#score-table{
  font-size: 24px;
  padding: 10px 20px;
  color: black;  
}

#score-table tr th{
  background-color: black;
  color: white;
  text-align: center;
  min-width: 100px;
  border: 1px solid black;
}

#score-table tr td{
  text-align: center;
  min-width: 100px;
  padding: 5px;
  border: 1px solid black;
}

#crown{
  background: url("couronne.png") no-repeat center;
}

.rank{
  text-align: center;
}

.php{
  padding: 20px 20px 20px 290px;
  font-size: 32px;
  border-radius: 10px;
  font-weight: 700;
}

a {
  color: black;
  margin: 30px 0 0 0;
}